/*font-family: 'Space Mono', monospace;*/
/*font-family: 'Yeseva One', cursive;*/
/*font-family: 'Nosifer', cursive;*/
/*font-family: 'Iceland', cursive;*/

.TempResultsBar {
    display: flex;
    /*justify-content: space-around;*/
    flex-direction: column;
    /*align-items: center;*/
    width: 100vw;
    height: 80%;
    background-color: rgba(3, 3, 3, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    margin: 0;
}

.results {
    background-color: rgba(3, 3, 3, 0.1);
    padding: .5rem 0 0 0;
    font-family: 'Iceland', cursive;
    font-size: 2.5rem;
}

.answer {
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 2rem;
    background-color: rgba(3, 3, 3, 0.1);
    text-align: center;
    margin: .5rem;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.message-picture {
    display: block;
    width: 70%;
    padding: 1rem 2rem 1rem;
    margin-left: auto;
    margin-right: auto;
}

.message-text {
    font-size: 2rem;
    text-align: center;
    margin: 0 0 1rem 0;
}

