/*font-family: 'Space Mono', monospace;*/
/*font-family: 'Yeseva One', cursive;*/
/*font-family: 'Nosifer', cursive;*/
/*font-family: 'Iceland', cursive;*/


body,
html,
#root {
    height: 100%;
}

body {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

html {
    font-size: 18px;
}

h1 {
    padding: 1.2rem 0;
    background-color: rgba(20, 1, 13, 1);
    text-align: center;
    font-family: 'Nosifer', cursive;
    font-size: 1.5rem;
    color: #fff;
    margin: 0;
    width: 100vw;
}

h1 .highlight {
    color: rgba(255, 147, 9, 1);
    /*margin: 0;*/
}

h2 {
    font-family: 'Iceland', cursive;
    font-size: 1.55rem;
}

.App {
    height: 100vh;
    width: 100vw;
    padding: 0;
    background-image: url('img/sun_mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Iceland', cursive;
    font-weight: 500;
    color: #fff;
    margin: 0;
}

.app-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(#14010d, #0e0109, #3c3c3c, #0e0109, #14010D);
    width: 100%;
}

.header {
    width: 100%;
}

.footer {
    background-color: rgba(20, 1, 13, 1);
    width: 100%;
    color: #fff;
    text-align: center;
}

/* For small tablets */
@media only screen and (min-width: 768px) {
    .App {
        background-image: url('img/sun_tablet-1.jpg');
    }
}



/* For Desktops */
@media only screen and (min-width: 1020px) {
    .App {
        background-image: url('img/sun_deskTop.jpg');
    }

    .app-container {
        /*padding: 0 4rem;*/
    }

}
